%h1 HAML Demo

%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque in rerum sit maxime accusamus tenetur, itaque nesciunt fugit necessitatibus numquam facilis repudiandae eum modi maiores asperiores, vel, pariatur autem quibusdam.

%strong this is in bold

%div.main
 %ul
  %li groucho
  %li harmo
  %li chico

%h2= Random.rand(10)
		
- [1,2,3].each do |n|
 %div= n
 