// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
	background-color: black;
	color: #0f0;
}

.box {

	display: inline-block;
	width: 4em;
	height: 4em;
	border: 1px solid #0f0;
	text-align: center;
	line-height: 4em;
}