.container {
	max-width: 960px;
	margin: auto;
	text-align: center;
	background: rgba(255,255,255,0.7);
	padding: 1em;
}

nav {
	text-align: right;
}

.feature {
	width: 100%;
}

.controls {
	text-align: right;
}