<h2>Add a mountain</h2>	
	<form action='<%=mountains_path%>' method="post">
	<p>Name: <input type="text" name="mountain[name]" ></p>
	<p>Image: <input type="url"name="mountain[image]"></p>
	<p>Height: <input type="number"name="mountain[height]"></p>
	<p>Range: <input type="text"name="mountain[range]"></p>
	<input type="submit" value="Create New Mountain">
	</form>