<div class="copy">
<h2>About</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, nulla consequatur dicta reiciendis molestias sequi corporis sapiente qui soluta minima odit distinctio consectetur optio cupiditate nam quidem possimus pariatur fuga.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam aliquam distinctio enim expedita tenetur in corrupti fugiat, quo totam ducimus. Sit, amet nostrum. Mollitia doloremque accusamus omnis esse obcaecati provident.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique tempore tenetur eaque non quis? Nam dolorem blanditiis cum animi nulla tenetur, obcaecati, quia distinctio earum doloremque veritatis ipsa voluptatibus eligendi.</p>
</div>