<h1>Stock Price</h1>
<h2>Check price below</h2>

<form action="/stocks/price">
		<input type="text" name="stock" placeholder="Stock (abbrev)" autofocus>
		<button>Get Price</button>
		</form>

		<p>E.g: AAPL, GOOGL, FB, TWTR</p>



<h1>Movie Poster</h1>
<h2>Get Movie Poster below</h2>

<form action="/movie">
	<input type="text" name="title" placeholder="Enter Movie title" autofocus>
	<button>Get Poster</button>
</form>

<form action="/movie/list">
	<input type="text" name="list" placeholder="Enter Movie title" autofocus>
	<button>Get List</button>
</form>
